<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117521578099-814q5f8iicpsrqovin7i7ftd8au064kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117521578099-814q5f8iicpsrqovin7i7ftd8au064kn</string>
	<key>API_KEY</key>
	<string>AIzaSyCSB1SOfmZo-gfByIabXLnmuLHR-pmu8bY</string>
	<key>GCM_SENDER_ID</key>
	<string>117521578099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crescendo</string>
	<key>PROJECT_ID</key>
	<string>crescendo-154fb</string>
	<key>STORAGE_BUCKET</key>
	<string>crescendo-154fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117521578099:ios:c48c5462a640934b009206</string>
	<key>DATABASE_URL</key>
	<string>https://crescendo-154fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>